In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# 讀取 CSV 檔案，請將 'your_file.csv' 替換成你的檔案名稱
file_path = "./data/bert_labeled_all_other_reviews.csv"
all_df = pd.read_csv(file_path)

all_df

,Review Id,Published Date,Language,Location,Sentence Id,Sentence,sentiment,Label_1,Label_2,Label_3,Label_4,Label_5,Label_6,Label_7,Label_8
0,983008103,2024/12/2,ko,tigerair taiwan,1,Worst low cost airline.,-0.037127,0.001637,0.002382,0.000594,0.000805,0.000384,0.001974,0.001381,0.990844
1,983008103,2024/12/2,ko,tigerair taiwan,2,Failed to board the plane.,-0.544636,0.000159,0.000565,0.997707,0.000184,0.000110,0.000143,0.000254,0.000877
2,983008103,2024/12/2,ko,tigerair taiwan,3,Team 2 arrived 8 minutes before boarding and w...,-0.134854,0.000309,0.000430,0.995012,0.000306,0.002236,0.000293,0.000487,0.000927
3,983008103,2024/12/2,ko,tigerair taiwan,4,I was confused and asked for help to see if th...,-0.583291,0.002055,0.016151,0.000904,0.023811,0.000823,0.001204,0.001890,0.953162
4,983008103,2024/12/2,ko,tigerair taiwan,5,"If there is anything else that is needed, he t...",-0.081404,0.001656,0.005678,0.001615,0.011201,0.000482,0.001072,0.001118,0.977178
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25110,971661772,2024/9/27,ja,tigerair taiwan,10,It's pork and rice.,0.361717,0.000063,0.000299,0.000059,0.000100,0.998949,0.000170,0.000093,0.000267
25111,971661772,2024/9/27,ja,tigerair taiwan,11,There was also a little wiener in it.,-0.056847,0.002702,0.001767,0.000973,0.001192,0.000238,0.003136,0.001974,0.988018
25112,971661772,2024/9/27,ja,tigerair taiwan,12,The seasoning was good.,0.972261,0.001420,0.003457,0.000518,0.001368,0.000447,0.001473,0.001232,0.990085
25113,971661772,2024/9/27,ja,tigerair taiwan,13,"There is a charge for alcohol on board, so I a...",-0.112176,0.000154,0.000199,0.998649,0.000108,0.000094,0.000099,0.000279,0.000419
25114,971661772,2024/9/27,ja,tigerair taiwan,14,"It's a charter plane, but I'm glad I was able ...",0.230038,0.002978,0.000476,0.000327,0.000287,0.000110,0.980799,0.010130,0.004891

In [3]:
#取多分類
all_df['Published Date'] = pd.to_datetime(all_df['Published Date'])

label_cols = ['Label_1', 'Label_2', 'Label_3', 'Label_4', 'Label_5', 'Label_6', 'Label_7', 'Label_8']
threshold = 0.3

# 直接覆蓋原本的 Label 欄位（注意：此操作不可回復，建議先存原始版本）
all_df[label_cols] = (all_df[label_cols] > threshold).astype(int)

all_df

,Review Id,Published Date,Language,Location,Sentence Id,Sentence,sentiment,Label_1,Label_2,Label_3,Label_4,Label_5,Label_6,Label_7,Label_8
0,983008103,2024-12-02,ko,tigerair taiwan,1,Worst low cost airline.,-0.037127,0,0,0,0,0,0,0,1
1,983008103,2024-12-02,ko,tigerair taiwan,2,Failed to board the plane.,-0.544636,0,0,1,0,0,0,0,0
2,983008103,2024-12-02,ko,tigerair taiwan,3,Team 2 arrived 8 minutes before boarding and w...,-0.134854,0,0,1,0,0,0,0,0
3,983008103,2024-12-02,ko,tigerair taiwan,4,I was confused and asked for help to see if th...,-0.583291,0,0,0,0,0,0,0,1
4,983008103,2024-12-02,ko,tigerair taiwan,5,"If there is anything else that is needed, he t...",-0.081404,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25110,971661772,2024-09-27,ja,tigerair taiwan,10,It's pork and rice.,0.361717,0,0,0,0,1,0,0,0
25111,971661772,2024-09-27,ja,tigerair taiwan,11,There was also a little wiener in it.,-0.056847,0,0,0,0,0,0,0,1
25112,971661772,2024-09-27,ja,tigerair taiwan,12,The seasoning was good.,0.972261,0,0,0,0,0,0,0,1
25113,971661772,2024-09-27,ja,tigerair taiwan,13,"There is a charge for alcohol on board, so I a...",-0.112176,0,0,1,0,0,0,0,0
25114,971661772,2024-09-27,ja,tigerair taiwan,14,"It's a charter plane, but I'm glad I was able ...",0.230038,0,0,0,0,0,1,0,0

In [4]:
df = all_df
# 取得 Label_1 到 Label_8 欄位
label_cols = [f"Label_{i}" for i in range(1, 9)]

# 計算每列中有多少個欄位為 1
df["label_sum"] = df[label_cols].sum(axis=1)

# 篩選出 sum >= 2 的列（代表至少有兩個標記為 1）
multi_label_df = df[df["label_sum"] == 1]

# 顯示前幾筆結果
print(multi_label_df[["Sentence"] + label_cols + ["label_sum"]].head())

# 印出總數量
print("總共有筆數：", len(multi_label_df))


#3筆是三標籤，873筆是二標籤，24239筆是一標籤

                                            Sentence  Label_1  Label_2  \
0                            Worst low cost airline.        0        0
1                         Failed to board the plane.        0        0
2  Team 2 arrived 8 minutes before boarding and w...        0        0
3  I was confused and asked for help to see if th...        0        0
4  If there is anything else that is needed, he t...        0        0

   Label_3  Label_4  Label_5  Label_6  Label_7  Label_8  label_sum
0        0        0        0        0        0        1          1
1        1        0        0        0        0        0          1
2        1        0        0        0        0        0          1
3        0        0        0        0        0        1          1
4        0        0        0        0        0        1          1
總共有筆數： 24239

In [5]:
# 假設 all_df 是你目前的 DataFrame，Label_8 需要移除
label_cols = ['Label_1', 'Label_2', 'Label_3', 'Label_4', 'Label_5', 'Label_6', 'Label_7','Label_8']

# 建立一個新的 DataFrame，用於儲存展開的結果
expanded_rows = []

# 遍歷每一列
for _, row in all_df.iterrows():
    for label in label_cols:
        if row[label] == 1:
            # 複製該列資料，並只保留對應標籤資訊
            new_row = row.drop(label_cols).copy()
            new_row['Label'] = label  # 新增一欄標註該列是屬於哪一個分類
            expanded_rows.append(new_row)

# 建立新的 DataFrame
final_df = pd.DataFrame(expanded_rows)

In [6]:

final_df.to_csv("temp.csv")
final_df
# 25994 = 25115+873+3+3

,Review Id,Published Date,Language,Location,Sentence Id,Sentence,sentiment,label_sum,Label
0,983008103,2024-12-02,ko,tigerair taiwan,1,Worst low cost airline.,-0.037127,1,Label_8
1,983008103,2024-12-02,ko,tigerair taiwan,2,Failed to board the plane.,-0.544636,1,Label_3
2,983008103,2024-12-02,ko,tigerair taiwan,3,Team 2 arrived 8 minutes before boarding and w...,-0.134854,1,Label_3
3,983008103,2024-12-02,ko,tigerair taiwan,4,I was confused and asked for help to see if th...,-0.583291,1,Label_8
4,983008103,2024-12-02,ko,tigerair taiwan,5,"If there is anything else that is needed, he t...",-0.081404,1,Label_8
...,...,...,...,...,...,...,...,...,...
25110,971661772,2024-09-27,ja,tigerair taiwan,10,It's pork and rice.,0.361717,1,Label_5
25111,971661772,2024-09-27,ja,tigerair taiwan,11,There was also a little wiener in it.,-0.056847,1,Label_8
25112,971661772,2024-09-27,ja,tigerair taiwan,12,The seasoning was good.,0.972261,1,Label_8
25113,971661772,2024-09-27,ja,tigerair taiwan,13,"There is a charge for alcohol on board, so I a...",-0.112176,1,Label_3
25114,971661772,2024-09-27,ja,tigerair taiwan,14,"It's a charter plane, but I'm glad I was able ...",0.230038,1,Label_6

In [11]:
sample_per_class = 15
df_sampled = final_df.groupby("Label").apply(lambda x: x.sample(n=sample_per_class, random_state=27)).reset_index(drop=True)

C:\Users\penny\AppData\Local\Temp\ipykernel_21836\1997764896.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df_sampled = final_df.groupby("Label").apply(lambda x: x.sample(n=sample_per_class, random_state=27)).reset_index(drop=True)

In [13]:
df_sampled.to_csv("temp.csv")

In [20]:
temp =final_df[final_df["Label"]=="Label_8"]
temp

,Review Id,Published Date,Language,Location,Sentence Id,Sentence,sentiment,label_sum,Label
0,983008103,2024-12-02,ko,tigerair taiwan,1,Worst low cost airline.,-0.037127,1,Label_8
3,983008103,2024-12-02,ko,tigerair taiwan,4,I was confused and asked for help to see if th...,-0.583291,1,Label_8
4,983008103,2024-12-02,ko,tigerair taiwan,5,"If there is anything else that is needed, he t...",-0.081404,1,Label_8
5,983008103,2024-12-02,ko,tigerair taiwan,6,"I had to communicate with them, but I don't kn...",-0.230282,1,Label_8
6,983008103,2024-12-02,ko,tigerair taiwan,7,They tried hard not to deal with me.,-0.411512,1,Label_8
...,...,...,...,...,...,...,...,...,...
25104,971661772,2024-09-27,ja,tigerair taiwan,4,It is a charter flight.,0.326865,1,Label_8
25106,971661772,2024-09-27,ja,tigerair taiwan,6,The situation on the plane is simple.,0.140373,1,Label_8
25108,971661772,2024-09-27,ja,tigerair taiwan,8,"Well, well, I think it can't be helped.",-0.390228,1,Label_8
25111,971661772,2024-09-27,ja,tigerair taiwan,11,There was also a little wiener in it.,-0.056847,1,Label_8
25112,971661772,2024-09-27,ja,tigerair taiwan,12,The seasoning was good.,0.972261,1,Label_8

In [10]:
final_df.to_csv("temp.csv")

In [ ]:
# 分組：依照 Location 分出三間航空公司
eva_df =final_df[final_df['Location'] == 'EVA Air']
china_df = final_df[final_df['Location'] == 'China Airlines']
tiger_df = final_df[final_df['Location'] == 'tigerair taiwan']

eva_df.to_csv('./data/eva_label.csv', index=False) #11000
china_df.to_csv('./data/china_label.csv', index=False) #5000
tiger_df.to_csv('./data/tiger_label.csv', index=False) #900